* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  background-color: white;
  background-size: cover;
  background-position: center;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 89px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px 0px 25px;
  background-color: blueviolet;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.logo {
  font-size: 20px;
  font-weight: 900;
}

.navbar a {
  margin-right: 30px;
  font-size: 20px;
  font-weight: 800;
  color: white;
}

.navbar a:hover {
  color: yellow;
  transition: all 0.5s;
}

.landing {
  background-image: url("./Games/img2.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: 98vh;
}

.landingText p {
  color: white;
  max-width: 90vh;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
}

.landingBtn {
  width: 120px;
  margin-top: 30px;
  font-size: 16px;
  padding: 14px 20px 14px 20px;
  background-color: white;
  color: white;
  border-radius: 45px;
}

.landingBtn:hover {
  transition: all 0.1s;
  background-color: blue;
}

.About {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  margin: 20px;
  object-fit: contain;
}

.aboutHeading h3 {
  font-size: 16px;
  font-weight: 800;
  margin: 20px 0;
  padding: 0 10px 0 10px;
}

.text p {
  font-family: "Lato", sans-serif;
  max-width: 40vh;
  padding: 10px 0 10px;
  margin: 40px;
}

.images {
  padding: 5px;
  margin: 5px;
  height: 100%;
}

.images:hover {
  transform: scale(1.08);
}

.Services {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  object-fit: contain;
}

.service-heading h3 {
  padding: 0 10px 0 10px;
  font-size: 20px;
  font-weight: 800;
  margin: 40px;
}

.servicesText p {
  max-width: 40vh;
  padding: 20px;
  margin: 40px;
  font-family: "Lato";
}

.serviceImages:hover {
  transform: scale(1.08);
}

.footer {
  margin-top: 50px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  background-color: black;
}

.footerLinks a {
  margin-top: 40px;
  margin: 20px;
  font-size: 16px;
  font-weight: 800;
  color: white;
}

img {
  max-width: 90%;
}
